[submodule "submodules/borealis"]
	path = submodules/borealis
	url = https://github.com/nadrino/borealis
[submodule "submodules/libtesla"]
	path = submodules/libtesla
	url = https://github.com/nadrino/libtesla.git
[submodule "submodules/cpp-generic-toolbox"]
	path = submodules/cpp-generic-toolbox
	url = https://github.com/nadrino/cpp-generic-toolbox.git
[submodule "submodules/simple-cpp-logger"]
        path = submodules/simple-cpp-logger
        url = https://github.com/nadrino/simple-cpp-logger.git
[submodule "submodules/switch-nanovg"]
	path = submodules/switch-nanovg
	url = https://github.com/retronx-team/switch-nanovg.git
[submodule "submodules/libretro-common"]
	path = submodules/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
