[submodule "ovl/libs/libtesla"]
	path = ovl/libs/libtesla
#	url = https://github.com/WerWolv/libtesla.git
        url = https://github.com/nadrino/libtesla.git
[submodule "gui/library/Plutonium"]
	path = gui/library/Plutonium
	url = https://github.com/XorTroll/Plutonium.git
