[submodule "submodules/borealis"]
	path = submodules/borealis
	url = https://github.com/nadrino/borealis
[submodule "submodules/libtesla"]
	path = submodules/libtesla
	url = https://github.com/nadrino/libtesla.git
[submodule "submodules/cpp-generic-toolbox"]
	path = submodules/cpp-generic-toolbox
	url = https://github.com/nadrino/cpp-generic-toolbox.git
